[Record]
read_weight_path: Leave it bland if you train from scratch, otherwise copy the path to the weights you want to start from

write_weight_folder: where the weights are saved
write_tmp_folder: where the temporary evaluation output are saved
logdir: where the tensorboardX logs are saved



[Params] 
lr: learning rate

batch: batch size

w_pose: weight of the l1 loss on features
w_laplace: weight of the l1 laplace loss


augment_data: 0 for no augmentation; 1 if you want to randomly rotate the data and move it on the x-z plane

weight_decay: 
lr_decay: learning rate delay
lr_decay_epoch_step: lr=lr_decay*lr every X epochs


start_epoch: start_epoch index
epoch: total epoch number
evaluate_epoch: evaluate the network per X epoch

perpoint_bias: 0 for shared bias through all vertices; 1 for 

template_ply_fn: this is used for saving the meshes in ply format.


point_num: total vertices number in the mesh.

pcs_train: path to the training data 

pcs_evaluate: path to the validation data


connection_folder:  directory of folder for connection matrices

connection_layer_lst: list of the connection matrices file name in the form of "poolX" or "unpoolX" for each layer so that the network can find them in connection folder.

channel_lst: list of the number of output channels for each layer. Pool and unpool layer's output channel number should be the same as the previous layer

weight_num_lst:  list of the size of the kernel basis for each layer. 0 for Pool and unpool layers.


residual_rate_lst: list of the residual rate for each layer. 0.0 for creating a pure convolution layer, 1.0 for creating (un)pool or residual layer, 0.X for creating a residual block: (1-0.X)*conv+0.X*res 

initial_connection_fn: The connection matrix of pool0 or unpool0 with stride and radius=1. This is used for computing the laplacian loss.




